body{
    background-color:green;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 40px;
    
    box-sizing: border-box;
}
h2{
    
    text-align: center;
    text-transform: capitalize;
}
input{
    width: 100%;
    margin: 10px 0;
    outline: none;
    background-color: transparent;
    color: #ffff;
    padding: 10px;
    font-size: 18px;
    font-weight:bold ;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px #fff solid;
}
button{
    width:80% ;
    border-radius: 12px;
    padding: 10px;
    background-color:blue ;
    color: rgb(19, 17, 17);
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    margin: 30px 10px 0px 10px;
    bottom: 50px;
}
.xdd {
    position: relative;
    right: 155px;
    margin-top: 50px;
}
.xxd xx {
    position: relative;
    right: 140px;
    left: 100px;
}